<footer class="footer">
  <small>
    <%= raw t("layouts.footer.left_text") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.title"), about_path %></li>
      <li><%= link_to t("static_pages.contact.title"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t(".news") %></a></li>
    </ul>
  </nav>
</footer>
